<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Bookworm.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>26CFA57C249B719E00CDC694</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>26CFA595249B71A200CDC694</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>26CFA5A0249B71A200CDC694</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
